## PART2 DATA ELMEKKAOUI _ ELAMMARI

### Q1: import the required libraries

In [25]:
val sqlContext = new org.apache.spark.sql.SQLContext(sc)
import sqlContext.implicits._

sqlContext: org.apache.spark.sql.SQLContext = org.apache.spark.sql.SQLContext@3baa5ff0
import sqlContext.implicits._

### Q2 : read the text data

In [26]:
val file = sc.textFile("C:/Users/user/Desktop/data.txt")

file: org.apache.spark.rdd.RDD[String] = C:/Users/user/Desktop/data.txt MapPartitionsRDD[47] at textFile at <console>:35

### Q3 : get number of partitions after .cache()

In [39]:
file.count()

res23: Long = 25000000

### Q4 : view top 2 rows

In [36]:
var L = file.take(5)
println(L(0))
println(L(1))

21,B+,Gurgaon,F,1
38,B+,Gurgaon,M,2

L: Array[String] = Array(21,B+,Gurgaon,F,1, 38,B+,Gurgaon,M,2, 20,A-,Bengaluru,F,3, 20,A-,Hyderabad,F,4, 30,A+,Bengaluru,F,5)

### Q5 Q6 Q7

In [37]:

val persons = file.map(_.split(",")).map{case Array(a,b,c,d,e) => (a.toInt,b,c,d,e.toInt)}.toDF("age","blood","city","sexe","id")

persons: org.apache.spark.sql.DataFrame = [age: int, blood: string ... 3 more fields]

### Q8 +Q9 : show top 5 rows

In [40]:
persons.show(5)

+---+-----+---------+----+---+
|age|blood|     city|sexe| id|
+---+-----+---------+----+---+
| 21|   B+|  Gurgaon|   F|  1|
| 38|   B+|  Gurgaon|   M|  2|
| 20|   A-|Bengaluru|   F|  3|
| 20|   A-|Hyderabad|   F|  4|
| 30|   A+|Bengaluru|   F|  5|
+---+-----+---------+----+---+
only showing top 5 rows

### Q11: get the value count using the sql query and view results

In [41]:
persons.select("age").count()

res25: Long = 25000000

### Q10: value counts of gender using “groupby”

In [42]:
persons.groupBy("sexe").count().show()

+----+--------+
|sexe|   count|
+----+--------+
|   F|16978072|
|   M| 8021928|
+----+--------+

In [43]:
val person_avg = persons.agg(avg("age"))
person_avg.show()

+-----------+
|   avg(age)|
+-----------+
|24.99966288|
+-----------+

person_avg: org.apache.spark.sql.DataFrame = [avg(age): double]

### Q12: perform another SQL query to calculate the average age in a city and view the results

In [53]:

persons.groupBy("city").agg(avg("age")).show()

+---------+------------------+
|     city|          avg(age)|
+---------+------------------+
|  Chennai|25.000232012755188|
|  Gurgaon|24.998841877614932|
|     Pune|25.000009997274816|
|Bengaluru|25.000442672151312|
|Hyderabad|24.998557155691067|
+---------+------------------+